
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kamr.dexignlab.com/xhtml/empty-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Nov 2023 16:24:19 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Kamr Hotel Admin Dashboard" />
	<meta property="og:title" content="Kamr Hotel Admin Dashboard" />
	<meta property="og:description" content="Kamr Hotel Admin Dashboard" />
	<meta property="og:image" content="social-image.png" />
	<meta name="format-detection" content="telephone=no">

	<!-- PAGE TITLE HERE -->
	<title>Kamr Hotel Admin Dashboard</title>

	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="~/images/favicon.png" />
	<link href="~/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
	<link href="~/vendor/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/css/styleadmin.css" rel="stylesheet" />
	<!-- Style css -->
	<link href="~/vendor/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
	<link href="~/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/css/styleAdmin.css" rel="stylesheet">
</head>
<body>

	<!--*******************
		Preloader start
	********************-->
	<div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
	</div>
	<!--*******************
		Preloader end
	********************-->
	<!--**********************************
		Main wrapper start
	***********************************-->
	<div id="main-wrapper">

		<!--**********************************
			Nav header start
		***********************************-->
		<div class="nav-header">
			<a href="index.html" class="brand-logo">
				<svg class="logo-abbr" width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="57" height="57" rx="14" fill="#FFD482" />
					<path d="M33.8661 45.3198L34.016 45.5H34.2504H42H43.0867L42.3797 44.6747L29.6972 29.8694L42.0311 15.3234L42.7292 14.5H41.6497H34.2504H34.015L33.8651 14.6814L23.6296 27.0631V15V14.5H23.1296H17H16.5V15V45V45.5H17H23.1296H23.6296V45V33.016L33.8661 45.3198Z" fill="#2D3134" stroke="#2D3134" />
					<path d="M49.609 37.1129L49.6065 37.1153L45.8935 40.7348L46.7704 45.847L46.7705 45.8478C46.8764 46.468 46.622 47.0949 46.113 47.4658L49.609 37.1129ZM49.609 37.1129C50.0552 36.6749 50.222 36.0196 50.0254 35.4164L49.0746 35.7263L50.0254 35.4164C49.8302 34.8175 49.3123 34.3807 48.6885 34.2897L48.6878 34.2896L43.5562 33.5445L41.2613 28.8938C41.2613 28.8938 41.2612 28.8938 41.2612 28.8938C40.9426 28.248 40.2969 28 39.7756 28C39.2543 28 38.6085 28.248 38.2899 28.8938L35.995 33.5445L30.8633 34.2896L30.8626 34.2897C30.2377 34.3808 29.721 34.8192 29.526 35.4156C29.3292 36.0177 29.4952 36.6758 29.9435 37.1142L29.9447 37.1154L33.6583 40.7342L32.7814 45.8463L32.7813 45.8471M49.609 37.1129L32.7813 45.8471M32.7813 45.8471C32.6755 46.4673 32.9299 47.0942 33.4388 47.4652M32.7813 45.8471L33.4388 47.4652M33.4388 47.4652C33.9498 47.8383 34.6282 47.8867 35.1863 47.5918C35.1868 47.5915 35.1873 47.5913 35.1878 47.591L39.7756 45.1795L44.3657 47.5925L33.4385 47.4649C33.4386 47.465 33.4387 47.4651 33.4388 47.4652ZM45.1374 47.7835C45.4783 47.7835 45.822 47.6782 46.1129 47.4659L44.3668 47.5931C44.6093 47.7208 44.8745 47.7835 45.1374 47.7835Z" fill="url(#paint0_linear_33_278)" stroke="#FFD482" stroke-width="2" />
					<defs>
						<linearGradient id="paint0_linear_33_278" x1="39.7756" y1="29" x2="39.7756" y2="46.7835" gradientUnits="userSpaceOnUse">
							<stop offset="2" stop-color="#FF9D43" />
							<stop offset="1" stop-color="#F66F4D" />
						</linearGradient>
					</defs>
				</svg>
				<svg class="brand-title" width="110" height="33" viewBox="0 0 110 33" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.5 31.6275V32.1275H1H6.77194H7.27194V31.6275V23.2943L14.1312 31.9383L14.2813 32.1275H14.5228H22.0264H23.1389L22.4002 31.2955L12.5506 20.2017L22.3203 9.02737L23.0452 8.19826H21.9439H14.4404H14.1979L14.0477 8.3887L7.27194 16.9828V1V0.5H6.77194H1H0.5V1V31.6275ZM41.0678 10.605C39.5233 9.04976 37.1689 7.82577 34.0231 7.82577C27.8956 7.82577 23.0924 12.6836 23.0924 20.0801C23.0924 27.4655 27.8854 32.5 33.9819 32.5C37.0937 32.5 39.5015 31.2757 41.0678 29.6684V31.6275V32.1275H41.5678H47.381H47.881V31.6275V8.69826V8.19826H47.381H41.5678H41.0678V8.69826V10.605ZM84.4701 31.6275V32.1275H84.9701H90.7421H91.2421V31.6275V18.1762C91.2421 14.9065 90.2393 12.3172 88.4732 10.5442C86.7078 8.77197 84.2313 7.86715 81.3833 7.86715C78.175 7.86715 75.2441 9.42776 73.5593 11.8096C71.8164 9.22484 68.9104 7.86715 65.5104 7.86715C63.0449 7.86715 60.8509 8.72757 59.2903 10.1773V8.69826V8.19826H58.7903H53.0183H52.5183V8.69826V31.6275V32.1275H53.0183H58.7903H59.2903V31.6275V18.9626C59.2903 17.2319 59.769 15.9839 60.5522 15.1706C61.3334 14.3592 62.479 13.9166 63.9438 13.9166C65.3637 13.9166 66.4889 14.3571 67.2612 15.1685C68.0361 15.9825 68.5148 17.2319 68.5148 18.9626V31.6275V32.1275H69.0148H74.7868H75.2868V31.6275V18.9626C75.2868 17.2319 75.7655 15.9832 76.5445 15.1695C77.3213 14.3582 78.4567 13.9166 79.8991 13.9166C81.319 13.9166 82.4441 14.3571 83.2165 15.1685C83.9913 15.9825 84.4701 17.2319 84.4701 18.9626V31.6275ZM109 14.9513H109.5V14.4513V8.36715V7.86715H109C106.248 7.86715 104.04 8.96175 102.491 10.7325V8.69826V8.19826H101.991H96.2193H95.7193V8.69826V31.6275V32.1275H96.2193H101.991H102.491V31.6275V20.2043C102.491 18.0564 102.992 16.782 103.792 16.0317C104.598 15.2759 105.812 14.9513 107.475 14.9513H109ZM41.0678 20.1629C41.0678 22.221 40.387 23.7769 39.3706 24.8161C38.3515 25.858 36.9676 26.4092 35.5073 26.4092C32.71 26.4092 29.988 24.1688 29.988 20.0801C29.988 18.0245 30.6774 16.4904 31.6924 15.4715C32.7111 14.4488 34.0859 13.9166 35.5073 13.9166C36.9676 13.9166 38.3515 14.4678 39.3706 15.5097C40.387 16.5488 41.0678 18.1048 41.0678 20.1629Z" fill="#2D3134" stroke="#2D3134" />
				</svg>
			</a>
			<div class="nav-control">
				<div class="hamburger">
					<span class="line"></span><span class="line"></span><span class="line"></span>
				</div>
			</div>
		</div>
		<!--**********************************
			Nav header end
		***********************************-->
		<!--**********************************
			Chat box start
		***********************************-->
		<!--**********************************
			Chat box End
		***********************************-->
		<!--**********************************
			Header start
		***********************************-->
		<div class="header">
			<div class="header-content">
				<nav class="navbar navbar-expand">
					<div class="collapse navbar-collapse justify-content-between">
						<div class="header-left">
							<div class="headaer-title">
								<h1 class="font-w600 mb-0"></h1>
							</div>
						</div>
						<ul class="navbar-nav header-right">
							<li>
								<div class="nav-item ms-auto">
									<div class="input-group search-area2">
										<input type="text" class="form-control" placeholder="Search here">
										<span class="input-group-text">
											<a href="javascript:void(0)">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.65925 19.3102C11.8044 19.3102 13.8882 18.5945 15.5806 17.2764L21.9653 23.6611C22.4423 24.1218 23.2023 24.1086 23.663 23.6316C24.1123 23.1663 24.1123 22.4287 23.663 21.9635L17.2782 15.5787C20.5491 11.3682 19.7874 5.3033 15.5769 2.0324C11.3663 -1.23851 5.30149 -0.476829 2.03058 3.73371C-1.24033 7.94425 -0.478646 14.0091 3.73189 17.2801C5.42702 18.5969 7.51269 19.3113 9.65925 19.3102ZM4.52915 4.52727C7.36245 1.69391 11.9561 1.69386 14.7895 4.52717C17.6229 7.36047 17.6229 11.9542 14.7896 14.7875C11.9563 17.6209 7.36261 17.6209 4.52925 14.7876C4.5292 14.7876 4.5292 14.7876 4.52915 14.7875C1.69584 11.9749 1.67915 7.39791 4.49181 4.56461C4.50424 4.55213 4.51667 4.5397 4.52915 4.52727Z" fill="#717579" />
												</svg>
											</a>
										</span>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown header-profile">
								<div id="datepicker" class="input-group date dz-calender" data-date-format="mm-dd-yyyy">
									<span class="input-group-addon d-flex align-items-center">
										<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M14.8337 3.16667H14.0003V1.50001C14.0003 1.27899 13.9125 1.06703 13.7563 0.910749C13.6 0.754469 13.388 0.666672 13.167 0.666672C12.946 0.666672 12.734 0.754469 12.5777 0.910749C12.4215 1.06703 12.3337 1.27899 12.3337 1.50001V3.16667H5.66699V1.50001C5.66699 1.27899 5.5792 1.06703 5.42292 0.910749C5.26663 0.754469 5.05467 0.666672 4.83366 0.666672C4.61265 0.666672 4.40068 0.754469 4.2444 0.910749C4.08812 1.06703 4.00033 1.27899 4.00033 1.50001V3.16667H3.16699C2.50395 3.16667 1.86807 3.43006 1.39923 3.8989C0.930384 4.36775 0.666992 5.00363 0.666992 5.66667V6.5H17.3337V5.66667C17.3337 5.00363 17.0703 4.36775 16.6014 3.8989C16.1326 3.43006 15.4967 3.16667 14.8337 3.16667Z" fill="#F66F4D" />
											<path d="M0.666992 14.8333C0.666992 15.4964 0.930384 16.1322 1.39923 16.6011C1.86807 17.0699 2.50395 17.3333 3.16699 17.3333H14.8337C15.4967 17.3333 16.1326 17.0699 16.6014 16.6011C17.0703 16.1322 17.3337 15.4964 17.3337 14.8333V8.16666H0.666992V14.8333Z" fill="#F66F4D" />
										</svg>
									</span>
									<input class="form-control" type="text" readonly />
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<!--**********************************
			Header end ti-comment-alt
		***********************************-->
		<!--**********************************
			Sidebar start
		***********************************-->
		<div class="deznav">
			<div class="deznav-scroll">
				<div class=" dropdown header-bx">
					<a class="nav-link header-profile2 position-relative" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
						<div class="header-img position-relative">
							<img src="~/images/header-img/pic-1.jpg" alt="header-img">
							<svg class="header-circle" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M130 65C130 100.899 100.899 130 65 130C29.1015 130 0 100.899 0 65C0 29.1015 29.1015 0 65 0C100.899 0 130 29.1015 130 65ZM4.99306 65C4.99306 98.1409 31.8591 125.007 65 125.007C98.1409 125.007 125.007 98.1409 125.007 65C125.007 31.8591 98.1409 4.99306 65 4.99306C31.8591 4.99306 4.99306 31.8591 4.99306 65Z" fill="#FFD482" />
								<path d="M65 2.49653C65 1.11774 66.1182 -0.00500592 67.496 0.0479365C76.3746 0.389105 85.0984 2.54751 93.1247 6.39966C101.902 10.6123 109.621 16.7428 115.711 24.3385C121.802 31.9341 126.108 40.8009 128.312 50.284C130.516 59.7671 130.562 69.6242 128.446 79.1274C126.33 88.6305 122.106 97.5369 116.087 105.189C110.067 112.841 102.406 119.043 93.6677 123.337C84.9299 127.631 75.3391 129.907 65.6037 129.997C56.7012 130.08 47.8858 128.333 39.7012 124.875C38.4312 124.338 37.895 122.847 38.48 121.598C39.065 120.35 40.5495 119.817 41.8213 120.35C49.3273 123.493 57.4027 125.08 65.5573 125.004C74.5449 124.921 83.399 122.819 91.4656 118.855C99.5322 114.891 106.605 109.166 112.162 102.102C117.72 95.0375 121.619 86.8153 123.572 78.0421C125.526 69.269 125.484 60.1691 123.449 51.4145C121.414 42.6598 117.438 34.4741 111.816 27.4619C106.193 20.4497 99.0674 14.7901 90.9643 10.9011C83.6123 7.3726 75.6263 5.38343 67.4958 5.04499C66.1182 4.98764 65 3.87533 65 2.49653Z" fill="var(--primary)" />
							</svg>
							<div class="header-edit position-absolute">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.02526 12.5567L7.44727 16.9762L16.2481 8.17043L11.8261 3.75092L3.02526 12.5567Z" fill="#fff" />
									<path d="M19.6341 3.01762L16.9827 0.366211C16.7401 0.123594 16.4227 0.00160156 16.1051 0H16.0919C15.7743 0.00160156 15.4573 0.123594 15.2153 0.366211L13.4453 2.13383L17.8665 6.55262L19.6342 4.785C19.8768 4.54238 19.9988 4.22539 20.0004 3.90781V3.89461C19.9987 3.57719 19.8767 3.2602 19.6341 3.01762Z" fill="#fff" />
									<path d="M0 20L5.745 18.6738L1.32379 14.255L0 20Z" fill="#fff" />
								</svg>
							</div>
						</div>
						<div class="header-content">
							<h2 class="font-w500">Alex Geovanny</h2>
							<span class="font-w400">demo@mail.com</span>
						</div>
					</a>
				</div>
				<ul class="metismenu" id="menu">
					<li>
						<a class="has-arrow " href="javascript:void()" aria-expanded="false">
							<i class="flaticon-025-dashboard"></i>
							<span class="nav-text">Dashboard</span>
						</a>
						<ul aria-expanded="false">
							<li>
								<a asp-area="" asp-controller="Manage" asp-action="Index">Dashboard</a>
							</li>
							<li>
								<a asp-area="" asp-controller="Manage" asp-action="RoomsManage">Rooms</a>
								</li>
							<li>
								<a asp-area="" asp-controller="Manage" asp-action="Customers">Customers</a>
							</li>
							<li>
								<a asp-area="" asp-controller="Manage" asp-action="CustomersByStaff">Customers By Staff</a>
							</li>
							<li>
								<a asp-area="" asp-controller="Manage" asp-action="Order">Order</a>
							</li>
							<li>
								<a asp-area="" asp-controller="Manage" asp-action="OrderList">Order List</a>
							</li>
							<li>
								<a asp-area="" asp-controller="Manage" asp-action="Reviews">Reviews</a>
							</li>
						</ul>

					</li>


				</ul>
				<div class="copyright">
					<h6>Kamr Hotel Admin Dashboard <span class="fs-14 font-w400">© 2022 All Rights Reserved</span></h6>
					<p class="fs-12 mb-4">Made with <span class="heart"></span> by DexignLab</p>
				</div>
			</div>
		</div>
		<!--**********************************
			Sidebar end
		***********************************-->
		<!--**********************************
			Content body start
		***********************************-->
		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">

				@RenderBody();
				@await RenderSectionAsync("Scripts", required: false)

			</div>
		</div>
		<!--**********************************
			Content body end
		***********************************-->
		<!--**********************************
			Footer start
		***********************************-->
		<div class="footer">
			<div class="copyright">
				<p>Copyright © Designed &amp; Developed by <a href="https://dexignlab.com/" target="_blank">DexignLab</a> 2022</p>
			</div>
		</div>
		<!--**********************************
			Footer end
		***********************************-->
		<!--**********************************
		   Support ticket button start
		***********************************-->
		<!--**********************************
		   Support ticket button end
		***********************************-->



	</div>
	<!--**********************************
		Main wrapper end
	***********************************-->
	<!--**********************************
		Scripts
	***********************************-->
    <!-- Required vendors -->
    <script src="~/vendor/global/global.min.js"></script>
	<script src="~/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	<script src="~/js/custom.min.js"></script>
	<script src="~/js/deznav-init.js"></script>
	<script src="~/js/demo.js"></script>
	<script src="~/js/styleSwitcher.js"></script>
	<script src="~/vendor/datepicker/js/bootstrap-datepicker.min.js"></script>
	<script src="~/vendor/global/global.min.js"></script>
	<script src="~/vendor/chart.js/Chart.bundle.min.js"></script>
	<script src="~/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	<script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="~/vendor/datepicker/js/bootstrap-datepicker.min.js"></script>
	<script src="~/vendor/owl-carousel/owl.carousel.js"></script>
	<!-- Swiper-js -->
	<script src="~/vendor/swiper/js/swiper-bundle.min.js"></script>

	<!-- Dashboard 1 -->
	<script src="~/js/dashboard/dashboard-1.js"></script>

	<script src="~/js/custom.min.js"></script>
	<script src="~/js/deznav-init.js"></script>
	<script src="~/js/demo.js"></script>
	<script src="~/js/styleSwitcher.js"></script>
	<script>
		$(function () {
			$("#datepicker").datepicker({
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());
		});

	</script>
	<script>
		var swiper = new Swiper(".front-view-slider", {
			slidesPerView: 5,
			spaceBetween: 30,
			centeredSlides: true,
			loop: true,
			pagination: {
				el: ".room-swiper-pagination",
				clickable: true,
			},
			breakpoints: {
				360: {
					slidesPerView: 1,
					spaceBetween: 20,
				},
				575: {
					slidesPerView: 3,
					spaceBetween: 20,
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 20,
				},
				1024: {
					slidesPerView: 3,
				},
				1400: {
					slidesPerView: 5,
					spaceBetween: 20,
				},
				1600: {
					slidesPerView: 5,
					spaceBetween: 30,
				},
			}
		});
	</script>
</body>

<!-- Mirrored from kamr.dexignlab.com/xhtml/empty-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Nov 2023 16:24:19 GMT -->
</html>