@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
	<div class="col-xl-12">
		<div class="mt-5 mb-4">
			<div class="d-flex align-items-center justify-content-between mb-sm-0 mb-2">
				<h2 class="font-w500">Popular Rooms</h2>
				<div class="swiper-pagination style-1 room-swiper-pagination"></div>
			</div>
			<div class="swiper front-view-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="popular-rooms">
							<img src="images/image2.png" alt="image">
							<div class="content">
								<span class="badge badge-success">AVAILABLE</span>
								<h3 class="font-w500 text-white pt-3 pb-2 m-0"><a href="javascript:void(0);">404 Brrom Str, Fl2</a></h3>
								<span class="font-w400 text-white">Type 234</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="popular-rooms">
							<img src="images/roomgrid-img/pic-1.jpg" alt="image">
							<div class="content">
								<span class="badge badge-primary">Booked</span>
								<h3 class="font-w500 text-white pt-3 pb-2 m-0"><a href="javascript:void(0);">235 Cream, G32</a></h3>
								<span class="font-w400 text-white">Type 234</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="popular-rooms">
							<img src="images/roomgrid-img/pic-2.jpg" alt="image">
							<div class="content">
								<span class="badge badge-success">AVAILABLE</span>
								<h3 class="font-w500 text-white pt-3 pb-2 m-0"><a href="javascript:void(0);">992 Green, HF</a></h3>
								<span class="font-w400 text-white">Type 234</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="popular-rooms">
							<img src="images/roomgrid-img/pic-3.jpg" alt="image">
							<div class="content">
								<span class="badge badge-success">AVAILABLE</span>
								<h3 class="font-w500 text-white pt-3 pb-2 m-0">914 White Cream</h3>
								<span class="font-w400 text-white">Type 234</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="popular-rooms">
							<img src="images/roomgrid-img/pic-4.jpg" alt="image">
							<div class="content">
								<span class="badge badge-primary">Booked</span>
								<h3 class="font-w500 text-white pt-3 pb-2 m-0"><a href="javascript:void(0);">172 Grey 22F, JF</a></h3>
								<span class="font-w400 text-white">Type 234</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="popular-rooms">
							<img src="images/roomgrid-img/pic-5.jpg" alt="image">
							<div class="content">
								<span class="badge badge-primary">Booked</span>
								<h3 class="font-w500 text-white pt-3 pb-2 m-0"><a href="javascript:void(0);">235 Cream, G32</a></h3>
								<span class="font-w400 text-white">Type 234</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="popular-rooms">
							<img src="images/roomgrid-img/pic-6.jpg" alt="image">
							<div class="content">
								<span class="badge badge-primary">Booked</span>
								<h3 class="font-w500 text-white pt-3 pb-2 m-0"><a href="javascript:void(0);">235 Cream, G32</a></h3>
								<span class="font-w400 text-white">Type 234</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="popular-rooms">
							<img src="images/roomgrid-img/pic-7.jpg" alt="image">
							<div class="content">
								<span class="badge badge-primary">Booked</span>
								<h3 class="font-w500 text-white pt-3 pb-2 m-0"><a href="javascript:void(0);">235 Cream, G32</a></h3>
								<span class="font-w400 text-white">Type 234</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="popular-rooms">
							<img src="images/roomgrid-img/pic-8.jpg" alt="image">
							<div class="content">
								<span class="badge badge-primary">Booked</span>
								<h3 class="font-w500 text-white pt-3 pb-2 m-0"><a href="javascript:void(0);">235 Cream, G32</a></h3>
								<span class="font-w400 text-white">Type 234</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-header border-0 pb-0 flex-wrap">
						<h3>Customer Reviews</h3>
						@*<div class="d-flex">
							<select class="form-control default-select style-1 me-3 ms-0 border">
								<option>Sort by Newest</option>
								<option>Oldest</option>
								<option>Newest</option>
							</select>
							<a href="javascript:void(0);" class="btn btn-primary light text-nowrap">View more</a>
						</div>*@
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-xl-4 col-sm-5">
								<div class="nav review-tab flex-column d-block nav-pills gap dz-scroll mb-3" id="Customerslist2">
									<a href="#v-pills-bella" data-bs-toggle="pill" class="nav-link active show">
										<div class="d-flex guest-list">
											<img src="images/review1.jpg" alt="image">
											<div>
												<h4 class="m-0">Bella Morgan</h4>
												<span>24min ago</span>
											</div>
										</div>
									</a>
									<a href="#v-pills-louis" data-bs-toggle="pill" class="nav-link">
										<div class="d-flex guest-list">
											<img src="images/review2.jpg" alt="image">
											<div>
												<h4 class="m-0">Louis Pattinson</h4>
												<span>24min ago</span>
											</div>
										</div>
									</a>
									<a href="#v-pills-hans" data-bs-toggle="pill" class="nav-link">
										<div class="d-flex guest-list">
											<img src="images/review3.jpg" alt="image">
											<div>
												<h4 class="m-0">Hans Takeshi</h4>
												<span>24min ago</span>
											</div>
										</div>
									</a>
									<a href="#v-pills-demian" data-bs-toggle="pill" class="nav-link">
										<div class="d-flex guest-list">
											<img src="images/review4.jpg" alt="image">
											<div>
												<h4 class="m-0">Demian Sarumaha</h4>
												<span>24min ago</span>
											</div>
										</div>
									</a>
									<a href="#v-pills-morgan" data-bs-toggle="pill" class="nav-link">
										<div class="d-flex guest-list">
											<img src="images/review1.jpg" alt="image">
											<div>
												<h4 class="m-0">Bella Morgan</h4>
												<span>24min ago</span>
											</div>
										</div>
									</a>
									<a href="#v-pills-morgan1" data-bs-toggle="pill" class="nav-link">
										<div class="d-flex guest-list">
											<img src="images/review1.jpg" alt="image">
											<div>
												<h4 class="m-0">Bella Morgan</h4>
												<span>24min ago</span>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-xl-8 col-sm-7">
								<div class="tab-content">
									<div id="v-pills-bella" class="tab-pane r-tab fade active show">
										<h3 class="font-w500">I love that room service</h3>
										<ul class="star-review">
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
										<p class="review-para mt-xl-4 mt-md-3 mt-sm-2 mt-2">
											We were totally refreshed and rejuvenated for the whole of next year and it was due to the relaxing stay at the hotel. The hotel is absolutely marvelous! We liked absolutely everything, starting from the breakfast through to the perfect room service including the cleanliness and extra services such as
										</p>
										<div class="mb-sm-2">
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm ">Great Service</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm mx-xl-3 mx-md-0">Recomended</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm ">Best Price</a>
										</div>
										<div class="d-flex align-items-center justify-content-between flex-md-wrap flex-sm-wrap flex-wrap mt-3 mt-sm-5 pt-xl-5 pt-lg-0 mb-0 mb-sm-0">
											<div class="d-flex guest-list mb-xl-0 mb-md-2 mb-sm-2 mb-2">
												<img src="images/review1.jpg" alt="image">
												<div>
													<h4 class="m-0">Bella Morgan</h4>
													<span>24min ago</span>
												</div>
											</div>
											<div>
												<a href="javascript:void(0);" class="btn btn-success border-0 me-sm-3 me-0">
													Accept
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM8.7898 15.0484L4.4107 10.6694L6.06781 9.01227L8.86648 11.8109L14.485 6.70344L16.062 8.43723L8.7898 15.0484Z" fill="white" />
													</svg>
												</a>
												<a href="javascript:void(0);" class="btn btn-primary border-0">
													Reject
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM14.9719 13.8148L13.3148 15.4719L10 12.1571L6.68523 15.4719L5.02812 13.8148L8.34289 10.5L5.02812 7.18523L6.68523 5.52812L10 8.84289L13.3148 5.52812L14.9719 7.18523L11.6571 10.5L14.9719 13.8148Z" fill="white" />
													</svg>
												</a>
											</div>
										</div>
									</div>
									<div id="v-pills-louis" class="tab-pane r-tab fade">
										<h3>I love that room service</h3>
										<ul class="star-review">
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
										<p class="review-para mt-xl-4 mt-md-3 mt-sm-2 mt-2">
											We were totally refreshed and rejuvenated for the whole of next year and it was due to the relaxing stay at the hotel. The hotel is absolutely marvelous! We liked absolutely everything, starting from the breakfast through to the perfect room service including the cleanliness and extra services such as
										</p>
										<div class="mb-sm-2">
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm">Great Service</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm mx-xl-3 mx-md-0">Recomended</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm ">Best Price</a>
										</div>
										<div class="d-flex align-items-center justify-content-between flex-md-wrap flex-sm-wrap flex-wrap mt-3 mt-sm-5 pt-xl-5 pt-lg-0 mb-3 mb-sm-0">
											<div class="d-flex guest-list mb-xl-0 mb-md-2 mb-sm-2 mb-2">
												<img src="images/review2.jpg" alt="image">
												<div>
													<h4 class="m-0">Louis Pattinson</h4>
													<span>24min ago</span>
												</div>
											</div>
											<div>
												<a href="javascript:void(0);" class="btn btn-success border-0 me-sm-3 me-0">
													Accept
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM8.7898 15.0484L4.4107 10.6694L6.06781 9.01227L8.86648 11.8109L14.485 6.70344L16.062 8.43723L8.7898 15.0484Z" fill="white" />
													</svg>
												</a>
												<a href="javascript:void(0);" class="btn btn-primary border-0">
													Reject
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM14.9719 13.8148L13.3148 15.4719L10 12.1571L6.68523 15.4719L5.02812 13.8148L8.34289 10.5L5.02812 7.18523L6.68523 5.52812L10 8.84289L13.3148 5.52812L14.9719 7.18523L11.6571 10.5L14.9719 13.8148Z" fill="white" />
													</svg>
												</a>
											</div>
										</div>
									</div>
									<div id="v-pills-hans" class="tab-pane r-tab fade">
										<h3>I love that room service</h3>
										<ul class="star-review">
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
										<p class="review-para mt-xl-4 mt-md-3 mt-sm-2 mt-2">
											We were totally refreshed and rejuvenated for the whole of next year and it was due to the relaxing stay at the hotel. The hotel is absolutely marvelous! We liked absolutely everything, starting from the breakfast through to the perfect room service including the cleanliness and extra services such as
										</p>
										<div class="mb-sm-2">
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm">Great Service</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm mx-xl-3 mx-md-0">Recomended</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm">Best Price</a>
										</div>
										<div class="d-flex align-items-center justify-content-between flex-md-wrap flex-sm-wrap flex-wrap mt-3 mt-sm-5 pt-xl-5 pt-lg-0 mb-0 mb-sm-0">
											<div class="d-flex guest-list mb-xl-0 mb-md-2 mb-sm-2 mb-2">
												<img src="images/review3.jpg" alt="image">
												<div>
													<h4 class="m-0">Hans Takeshi</h4>
													<span>24min ago</span>
												</div>
											</div>
											<div>
												<a href="javascript:void(0);" class="btn btn-success border-0 me-sm-3 me-0">
													Accept
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM8.7898 15.0484L4.4107 10.6694L6.06781 9.01227L8.86648 11.8109L14.485 6.70344L16.062 8.43723L8.7898 15.0484Z" fill="white" />
													</svg>
												</a>
												<a href="javascript:void(0);" class="btn btn-primary border-0">
													Reject
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM14.9719 13.8148L13.3148 15.4719L10 12.1571L6.68523 15.4719L5.02812 13.8148L8.34289 10.5L5.02812 7.18523L6.68523 5.52812L10 8.84289L13.3148 5.52812L14.9719 7.18523L11.6571 10.5L14.9719 13.8148Z" fill="white" />
													</svg>
												</a>
											</div>
										</div>
									</div>
									<div id="v-pills-demian" class="tab-pane r-tab fade">
										<h3>I love that room service</h3>
										<ul class="star-review">
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
										<p class="review-para mt-xl-4 mt-md-3 mt-sm-2 mt-2">
											We were totally refreshed and rejuvenated for the whole of next year and it was due to the relaxing stay at the hotel. The hotel is absolutely marvelous! We liked absolutely everything, starting from the breakfast through to the perfect room service including the cleanliness and extra services such as
										</p>
										<div class="mb-sm-2">
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm">Great Service</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm mx-xl-3 mx-md-0">Recomended</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm">Best Price</a>
										</div>
										<div class="d-flex align-items-center justify-content-between flex-md-wrap flex-sm-wrap flex-wrap mt-3 mt-sm-5 pt-xl-5 pt-lg-0 mb-0 mb-sm-0">
											<div class="d-flex guest-list  mb-xl-0 mb-md-2 mb-sm-2 mb-2">
												<img src="images/review4.jpg" alt="image">
												<div>
													<h4 class="m-0">Demian Sarumaha</h4>
													<span>24min ago</span>
												</div>
											</div>
											<div>
												<a href="javascript:void(0);" class="btn btn-success border-0 me-sm-3 me-0">
													Accept
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM8.7898 15.0484L4.4107 10.6694L6.06781 9.01227L8.86648 11.8109L14.485 6.70344L16.062 8.43723L8.7898 15.0484Z" fill="white" />
													</svg>
												</a>
												<a href="javascript:void(0);" class="btn btn-danger border-0">
													Reject
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM14.9719 13.8148L13.3148 15.4719L10 12.1571L6.68523 15.4719L5.02812 13.8148L8.34289 10.5L5.02812 7.18523L6.68523 5.52812L10 8.84289L13.3148 5.52812L14.9719 7.18523L11.6571 10.5L14.9719 13.8148Z" fill="white" />
													</svg>
												</a>
											</div>
										</div>
									</div>
									<div id="v-pills-morgan" class="tab-pane r-tab fade">
										<h3>I love that room service</h3>
										<ul class="star-review">
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
										<p class="review-para mt-xl-4 mt-md-3 mt-sm-2 mt-2">
											We were totally refreshed and rejuvenated for the whole of next year and it was due to the relaxing stay at the hotel. The hotel is absolutely marvelous! We liked absolutely everything, starting from the breakfast through to the perfect room service including the cleanliness and extra services such as
										</p>
										<div>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm">Great Service</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm mx-xl-3 mx-md-0">Recomended</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm ">Best Price</a>
										</div>
										<div class="d-flex align-items-center justify-content-between flex-md-wrap flex-sm-wrap flex-wrap mt-3 mt-sm-5 pt-xl-5 pt-lg-0 mb-0 mb-sm-0">
											<div class="d-flex guest-list mb-xl-0 mb-md-2 mb-sm-2 mb-2">
												<img src="images/review1.jpg" alt="image">
												<div>
													<h4 class="m-0">Bella Morgan</h4>
													<span>24min ago</span>
												</div>
											</div>
											<div>
												<a href="javascript:void(0);" class="btn btn-success border-0 me-sm-3 me-0">
													Accept
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM8.7898 15.0484L4.4107 10.6694L6.06781 9.01227L8.86648 11.8109L14.485 6.70344L16.062 8.43723L8.7898 15.0484Z" fill="white" />
													</svg>
												</a>
												<a href="javascript:void(0);" class="btn btn-primary border-0">
													Reject
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM14.9719 13.8148L13.3148 15.4719L10 12.1571L6.68523 15.4719L5.02812 13.8148L8.34289 10.5L5.02812 7.18523L6.68523 5.52812L10 8.84289L13.3148 5.52812L14.9719 7.18523L11.6571 10.5L14.9719 13.8148Z" fill="white" />
													</svg>
												</a>
											</div>
										</div>
									</div>
									<div id="v-pills-morgan1" class="tab-pane r-tab fade">
										<h3>I love that room service</h3>
										<ul class="star-review">
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
										<p class="review-para mt-xl-4 mt-md-3 mt-sm-2 mt-2">
											We were totally refreshed and rejuvenated for the whole of next year and it was due to the relaxing stay at the hotel. The hotel is absolutely marvelous! We liked absolutely everything, starting from the breakfast through to the perfect room service including the cleanliness and extra services such as
										</p>
										<div class="mb-sm-2">
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm">Great Service</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm mx-xl-3 mx-md-0">Recomended</a>
											<a href="javascript:void(0);" class="btn btn-dark light border-0 mb-2 btn-sm">Best Price</a>
										</div>
										<div class="d-flex align-items-center justify-content-between flex-md-wrap flex-sm-wrap flex-wrap mt-3 mt-sm-5 pt-xl-5 pt-lg-0 mb-0 mb-sm-0">
											<div class="d-flex guest-list mb-xl-0 mb-md-2 mb-sm-2 mb-2">
												<img src="images/review1.jpg" alt="image">
												<div>
													<h4 class="m-0">Bella Morgan</h4>
													<span>24min ago</span>
												</div>
											</div>
											<div>
												<a href="javascript:void(0);" class="btn btn-success border-0 me-sm-3 me-0">
													Accept
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM8.7898 15.0484L4.4107 10.6694L6.06781 9.01227L8.86648 11.8109L14.485 6.70344L16.062 8.43723L8.7898 15.0484Z" fill="white" />
													</svg>
												</a>
												<a href="javascript:void(0);" class="btn btn-primary border-0">
													Reject
													<svg class="ms-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M10 0.5C4.50742 0.5 0 5.00742 0 10.5C0 15.9926 4.50742 20.5 10 20.5C15.4926 20.5 20 15.9926 20 10.5C20 5.00742 15.4926 0.5 10 0.5ZM14.9719 13.8148L13.3148 15.4719L10 12.1571L6.68523 15.4719L5.02812 13.8148L8.34289 10.5L5.02812 7.18523L6.68523 5.52812L10 8.84289L13.3148 5.52812L14.9719 7.18523L11.6571 10.5L14.9719 13.8148Z" fill="white" />
													</svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>