@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class=" d-block d-lg-flex align-items-center justify-content-between mb-5">
	<div class="form-head d-inline-block d-sm-flex align-items-center mt-2 mt-lg-0">
		<a href="javascript:void(0);" class="btn btn-primary ms-sm-3 ms-0 mt-2 mt-sm-0 addNewRoom">Add New Room</a>
	</div>
</div>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade active show" id="list" aria-labelledby="list-tab">
		<div class="tab-content" id="ListViewTabLinkContent">
			<div class="tab-pane fade active show" id="all-status"
				 aria-labelledby="boxed-all-status-tab">
				<div class="table-responsive card">
					<div class="table-responsive">
						<table class="table border-0 display mb-4 dataTablesCard booking-table table-responsive-lg "
							   id="guestTable-all6">
							<thead>
								<tr>
									<th class="bg-none">
										<div class="form-check style-3">
											<input class="form-check-input" type="checkbox" value=""
												   id="checkAll">
										</div>
									</th>
									<th>Room Name</th>
									<th>Bed Type</th>
									<th>Room Floor</th>
									<th>Status</th>
									<th>Book Date</th>
									<th class="bg-none"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="form-check  style-3">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</td>
									<td>
										<div class="guest-bx">
											<img class="me-4" src="/images/img_1.jpg"
												 alt="">
											<div>
												<span class="text-primary fs-16 font-w400 text-nowrap">#R-001235</span>
												<h4 class="mb-0 mt-1 fs-18 font-w500 text-nowrap">
													<a class="text-black"
													   href="javascript:void(0);">
														404 Brrom Str,
														Fl2
													</a>
												</h4>
											</div>
										</div>
									</td>
									<td>
										<div>
											<span class="fs-15 font-w500 text-nowrap">Double Bed</span>
										</div>
									</td>
									<td>
										<div>
											<span class="fs-15 font-w500 text-nowrap">Floor G-05</span>
										</div>
									</td>
									<td>
										<div>
											<span class="btn btn-success btn-sm">AVAILABLE</span>

										</div>
									</td>
									<td>
										<div>
											<h5 class="fs-15 font-w500 text-nowrap">Oct 29th, 2020</h5>
											<span class="fs-14 font-w500 text-nowrap">08:29 AM</span>
										</div>
									</td>
									<td>
										<div class="dropdown dropstart">
											<a href="javascript:void(0);" class="btn-link"
											   data-bs-toggle="dropdown" aria-expanded="false">
												<svg width="24" height="24" viewBox="0 0 24 24"
													 fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z"
														  stroke="#262626" stroke-width="2"
														  stroke-linecap="round"
														  stroke-linejoin="round" />
													<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z"
														  stroke="#262626" stroke-width="2"
														  stroke-linecap="round"
														  stroke-linejoin="round" />
													<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z"
														  stroke="#262626" stroke-width="2"
														  stroke-linecap="round"
														  stroke-linejoin="round" />
												</svg>
											</a>
											<div class="dropdown-menu">
												<a class="dropdown-item edit"
												   href="javascript:void(0);">Edit</a>
												<a class="dropdown-item delete"
												   href="javascript:void(0);">Delete</a>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="form-check  style-3">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</td>
									<td>
										<div class="guest-bx">
											<img class="me-4" src="/images/img_1.jpg"
												 alt="">
											<div>
												<span class="text-primary fs-16 font-w400 text-nowrap">#R-001235</span>
												<h4 class="mb-0 mt-1 fs-18 font-w500 text-nowrap">
													<a class="text-black"
													   href="javascript:void(0);">Neoma Path</a>
												</h4>
											</div>
										</div>
									</td>
									<td>
										<div>
											<span class="fs-15 font-w500 text-nowrap">Single Bed</span>
										</div>
									</td>
									<td>
										<div>
											<span class="fs-15 font-w500 text-nowrap">Floor G-06</span>
										</div>
									</td>
									<td>
										<div>
											<span class="btn btn-primary btn-sm">BOOKED</span>

										</div>
									</td>
									<td>
										<div>
											<h5 class="fs-15 font-w500 text-nowrap">Oct 29th, 2020</h5>
											<span class="fs-14 font-w500 text-nowrap">08:29 AM</span>
										</div>
									</td>
									<td>
										<div class="dropdown dropstart">
											<a href="javascript:void(0);" class="btn-link show"
											   data-bs-toggle="dropdown" aria-expanded="false">
												<svg width="24" height="24" viewBox="0 0 24 24"
													 fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z"
														  stroke="#262626" stroke-width="2"
														  stroke-linecap="round"
														  stroke-linejoin="round" />
													<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z"
														  stroke="#262626" stroke-width="2"
														  stroke-linecap="round"
														  stroke-linejoin="round" />
													<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z"
														  stroke="#262626" stroke-width="2"
														  stroke-linecap="round"
														  stroke-linejoin="round" />
												</svg>
											</a>
											<div class="dropdown-menu">
												<a class="dropdown-item edit" 
												   href="javascript:void(0);">Edit</a>
												<a class="dropdown-item delete"
												   href="javascript:void(0);">Delete</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- AddModal -->
<div class="modal" id="addModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add new room</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3 row">
					<label for="inputGroupFile01" class="col-sm-2 col-form-label">Image: </label>
					<div class="col-sm-10">
						<input type="file" class="form-control" id="inputGroupFile01">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputName" class="col-sm-2 col-form-label">Name: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputName">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputPrice" class="col-sm-2 col-form-label">Price: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputPrice">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputAdults" class="col-sm-2 col-form-label">Adults: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputAdults">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputChildren" class="col-sm-2 col-form-label">Children: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputChildren">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputCategories" class="col-sm-2 col-form-label">Categories: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputCategories">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputSize" class="col-sm-2 col-form-label">Size: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputSize">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputBedtype" class="col-sm-2 col-form-label">Bed type: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputBedtype">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputStatus" class="col-sm-2 col-form-label">Status: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputStatus">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary " onclick="saveChanges()">Add room</button>
			</div>
		</div>
	</div>
</div>
<!-- EditModal -->
<div class="modal" id="editModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit room</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3 row">
					<label for="inputGroupFile01" class="col-sm-2 col-form-label">Image: </label>
					<div class="col-sm-10">
						<input type="file" class="form-control" id="inputGroupFile01">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputName" class="col-sm-2 col-form-label">Name: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputName">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputPrice" class="col-sm-2 col-form-label">Price: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputPrice">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputAdults" class="col-sm-2 col-form-label">Adults: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputAdults">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputChildren" class="col-sm-2 col-form-label">Children: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputChildren">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputCategories" class="col-sm-2 col-form-label">Categories: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputCategories">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputSize" class="col-sm-2 col-form-label">Size: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputSize">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputBedtype" class="col-sm-2 col-form-label">Bed type: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputBedtype">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="inputStatus" class="col-sm-2 col-form-label">Status: </label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="inputStatus">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary " onclick="saveChanges()">Save changes</button>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
	$(document).ready(function () {
		// Xử lý sự kiện click cho class "edit"
		$('.edit').on('click', function () {
			// Hiển thị modal ở đây
			// Ví dụ sử dụng Bootstrap Modal
			$('#editModal').modal('show');
		});
		// Xử lý sự kiện click cho class "edit"
		$('.add').on('click', function () {
			// Hiển thị modal ở đây
			// Ví dụ sử dụng Bootstrap Modal
			$('#addModal').modal('show');
		});
	});
</script>


<script src="~/vendor/global/global.min.js"></script>

<script>
	$(function () {
		$("#datepicker").datepicker({
			autoclose: true,
			todayHighlight: true
		}).datepicker('update', new Date());
	});
</script>
<script>
	function assignedDoctor() {
		/*  testimonial one function by = owl.carousel.js */
		jQuery('.front-view-slider').owlCarousel({
			loop: true,
			margin: 30,
			nav: true,
			center: true,
			autoplaySpeed: 3000,
			navSpeed: 3000,
			paginationSpeed: 3000,
			slideSpeed: 3000,
			smartSpeed: 3000,
			autoplay: false,
			animateOut: 'fadeOut',
			dots: true,
			navText: ['', ''],
			responsive: {
				0: {
					items: 1
				},
				480: {
					items: 1
				},
				767: {
					items: 5
				},
				1400: {
					items: 5
				},
				1750: {
					items: 5
				}
			}
		})
	}
	jQuery(window).on('load', function () {
		setTimeout(function () {
			assignedDoctor();
		}, 1000);
	});
</script>
<script>
	// Hàm hiển thị modal
	function showEditModal() {
		$('#editModal').modal('show');
	}
	function showAddModal() {
		$('#addModal').modal('show');
	}

	// Hàm xử lý lưu chỉnh sửa (gọi khi người dùng nhấn "Save Changes")
	function saveChanges() {
		// Thực hiện các bước lưu chỉnh sửa ở đây
		// Sau khi lưu xong, đóng modal
		closeEditModal();
		closeAddModal();
	}
	// Hàm đóng modal
	function closeEditModal() {
		$('#editModal').modal('hide');
	}
	function closeAddModal() {
		$('#addModal').modal('hide');
	}
	// Khi click vào nút "Edit" trong dropdown, gọi hàm showEditModal()
	$('.edit').on('click', function () {
		showEditModal();
	});
	// Khi click vào nút "Add" trong dropdown, gọi hàm showEditModal()
	$('.addNewRoom').on('click', function () {
		showAddModal();
	});
</script>
